div.language-ts
  background: none
  border-top-width 4px
  border-top-style solid
  background-color #f3f5f7
  border-color: #476582
  border-radius: 0
  font-size: 1.2em
  &::before
    content: ""
  pre.language-ts
    padding: 8px 12px
    margin: 0
    code
      color: #476582

.theme-default-content
  code
    padding: 0.125rem 0.25rem

table
  font-size: 0.85em
  width: 100%
thead
  border-bottom: 1px solid #b1c1d0
  background-color #f3f5f7
th, td
  border: none
  padding: 0.3em 1em
  text-align: left
  line-height: 1.5em
td:first-child
  width: 25%
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace
  color: #476582
td:nth-child(2)
  width: 10%
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace
  color: #cc99cd
td:nth-child(3)
  width: 55%
td:last-child
  width: 10%
tr
  border: none
