@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400;1,600&display=swap');

body
  font-family: 'Poppins', sans-serif

div.language-tsx
  background: none
  background-color #f3f5f7
  border-radius: 0
  &::before
    content: ""
  pre.language-tsx
    padding: 8px 12px
    code
      color: #476582

h2 + div.language-tsx
  border-top-width 4px
  border-top-style solid
  border-color: #476582
  font-size: 1.2em
  pre.language-tsx
    margin: 0

div.language-ts::before
  content: 'ts'

.theme-default-content
  code
    padding: 0.125rem 0.25rem

table
  font-size: 0.85em
  width: 100%
thead
  border-bottom: 1px solid #b1c1d0
  background-color #f3f5f7
th, td
  border: none
  padding: 0.3em 1em
  text-align: left
  line-height: 1.5em
td:first-child
  // width: 15%
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace
  color: #476582
td:nth-child(2)
  // width: 25%
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace
  color: #cc99cd
td:nth-child(3)
  // width: 55%
td:last-child
  // width: 10%
tr
  border: none
