// responsive breakpoints
$MQNarrow: 959px !default;
$MQMobile: 719px !default;
$MQMobileNarrow: 419px !default;

// code languages
$codeLang: 'css' 'docker' 'fs' 'html' 'js' 'json' 'md' 'py' 'sh'
  'ts' 'tsx' 'vue' 'yml' !default;
